<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Novel Manager小说下载管理器</title>
    <script src="./js/vue3.js"></script>
    <script>
        window.addEventListener('keydown', event => {
            if (event.code === 'F5') {
                electron.win.reload_html()
            }
        }, true);
    </script>
    <link rel="stylesheet" type="text/css" href="./css/style.css" />

</head>

<body>
    <div id="main-wrapper">
        <nav id="navbar">
            <div id="navbar-ico">
                <img src="./res/icon.png">
                <span>Novel Manager</span>
            </div>
            <div id="navbar-btn">
                <span id="navbar-btn-min" @click="minimize_win()" class="clickable">
                    &nbsp;&#8212;
                </span>
                <span id="navbar-btn-close" @click="close_win()" class="clickable">
                    &#10006;
                </span>
            </div>


        </nav>
        <div id="sidebar">
            <ul id="sidebar-list">
                <li class="sidebar-span">
                    &nbsp;&nbsp;获取<br />
                    <hr class="sidebar-span-hr" />
                </li>
                <li id="sidebar-list-homepage" @click="change_page('homepage')" class="clickable">
                    <span class="sidebar list-icon">&#127968;</span>
                    <span class="sidebar list-text">&nbsp;首页</span>
                </li>
                <li id="sidebar-list-square" @click="change_page('square')" class="clickable">
                    <span class="sidebar list-icon">&#128218;</span>
                    <span class="sidebar list-text">&nbsp;广场</span>
                </li>
                <li id="sidebar-list-search" @click="change_page('search')" class="clickable">
                    <span class="sidebar list-icon">&#128270;</span>
                    <span class="sidebar list-text">搜索</span>
                </li>
                <li id="sidebar-list-download" @click="change_page('download')" class="clickable">
                    <span class="sidebar list-icon">&#128315;</span>
                    <span class="sidebar list-text">下载</span>
                </li>
                <li id="sidebar-list-update" @click="change_page('update')" class="clickable">
                    <span class="sidebar list-icon">&#128260;</span>
                    <span class="sidebar list-text">更新</span>
                </li>
                <li class="sidebar-span">
                    &nbsp;&nbsp;工具<br />
                    <hr class="sidebar-span-hr" />
                </li>
                <li id="sidebar-list-split" @click="change_page('split')" class="clickable">
                    <span class="sidebar list-icon">&#9986;</span>
                    <span class="sidebar list-text">分割</span>
                </li>
                <li id="sidebar-list-noad" @click="change_page('noad')" class="clickable">
                    <span class="sidebar list-icon">&#128721;</span>
                    <span class="sidebar list-text">去除广告</span>
                </li>
                <li class="sidebar-span">
                    &nbsp;&nbsp;管理<br />
                    <hr class="sidebar-span-hr" />
                </li>
                <li id="sidebar-list-settings" @click="change_page('settings')" class="clickable">
                    <span class="sidebar list-icon">&#9881;</span>
                    <span class="sidebar list-text">设置</span>
                </li>
            </ul>
        </div>
        <div id="mainpage">
            <div v-if="pagestatus.homepage" id="homepage">
                <div id='fast-update-title-item' class='mainpage-list-title'>
                    &#9193;快捷更新
                </div>
                <div v-if="!update_list.length" id="fast-update-container-alt" class="selectable-list-container-alt">
                    <div class="loading"></div>
                    <div style="font-size: 17px;font-weight: 700;color: #272727; text-shadow: 2px 2px 2px #b3b3b3;">加载中...</div>
                </div>
                <div v-if="update_list.length" id="fast-update-container" class='selectable-list-container'>
                    <div v-for="(item, index) in update_list" :id="'fast-update-item-' + index"
                        class="selectable-list-item clickable">
                        {{item}}
                    </div>
                    <p v-for="item in [1, 2, 3, 4, 5]"
                        style="width: 250px; flex-grow: 1; margin: 0px 18px; height: 0px;"></p>
                </div>
            </div>
            <div v-if="pagestatus.square" id="square"></div>
            <div v-if="pagestatus.search" id="search"></div>
            <div v-if="pagestatus.download" id="download"></div>
            <div v-if="pagestatus.update" id="update">

            </div>
        </div>
    </div>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    pagestatus: {
                        homepage: true,
                        square: false,
                        search: false,
                        download: false,
                        update: false,
                        split: false,
                        noad: false,
                        settings: false
                    },
                    update_list: [],
                }
            },
            methods: {
                close_win: () => electron.app.quit(),

                minimize_win: () => electron.win.minimize(),

                change_page(pageid) {
                    for (i in this.pagestatus) {
                        this.pagestatus[i] = false
                    }
                    this.pagestatus[pageid] = true
                }
            }
        })
        const mw = app.mount('#main-wrapper')
    </script>
</body>

</html>